# =======================
# Nix / NixOS / Shell
# =======================
result/
*.drv
*.nar
*.lock

# =======================
# Elixir / Phoenix
# =======================
/backend/_build/
 /backend/deps/
/backend/priv/repo/*.dump
/backend/mix.lock

# =======================
# Node / Bun / Frontend
# =======================
/frontend/node_modules/
/frontend/.bun/
/frontend/dist/
/frontend/.cache/
/frontend/.astro/
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/bun.lockb
/frontend/.env
/frontend/.env.production

# =======================
# IDEs
# =======================
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# =======================
# System
# =======================
.DS_Store
Thumbs.db
