services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - monitor

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    networks:
      - monitor
    depends_on:
      - postgres
  frontend: 
    build: ./frontend
    ports:
      - "4321:4321"
    networks:
      - monitor
    depends_on:
      - backend

networks:
  monitor:
volumes:
  postgres_data: